@charset "UTF-8";
html {
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: #fff;
  color: black; }

body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0; }

body, input, textarea, select, button, table {
  font-size: 14px;
  line-height: 1.25em;
  font-family: '나눔고딕', NanumGothic, Helvetica, AppleGothic, Sans-serif, ngwoff, ngeot, '굴림', gulrem; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Hanna', sans-serif; }

img, fieldset {
  border: 0; }

ul, ol {
  list-style: none; }

em, address {
  font-style: normal; }

a {
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: none; }

.divtop {
  position: fixed;
  top: 0px;
  color: black;
  z-index: 5;
  width: 100%;
  min-width: 600px;
  padding: 5px 0px;
  background-color: white;
  border-bottom: 1px solid black; }

.divtop .logo {
  height: 50px;
  position: relative;
  top: 5px;
  margin-left: 10px; }

.divtop .menu {
  height: 40px;
  position: relative;
  left: 20px;
  top: -3px;
  opacity: 0.7; }

.divtop .menu:hover {
  opacity: 1; }

.divtop .menu.active {
  opacity: 1; }

.divtop .menubar {
  display: none;
  position: absolute;
  border: 1px solid black;
  background: white;
  color: black;
  left: 97px;
  top: 50px;
  z-index: 2; }

.divtop .menubar li {
  padding: 5px 15px; }

.divtop .menubar img {
  opacity: 0.7; }

.divtop .menubar li:hover {
  background: rgba(38, 50, 56, 0.8);
  color: white; }

.divtop .menubar li:hover img {
  opacity: 1; }

.divtop .menubar span {
  margin-left: 10px;
  position: relative;
  top: -10px; }

.divtop .btn {
  padding: 7px 10px;
  float: right;
  margin-right: 20px;
  margin-top: 10px; }

.divtop .search {
  position: relative;
  left: 45px; }

.divtop .imgdiv {
  background: rgba(38, 50, 56, 0.2);
  border-radius: 5px;
  height: 50px;
  width: 50px;
  float: right;
  margin-right: 10px;
  margin-top: 2px; }

.divtop .imgdiv .logpic {
  width: 44px;
  height: 44px;
  margin: 3px;
  border-radius: 22px;
  background: gray; }

.divtop .imgdiv .userbar {
  display: none;
  position: absolute;
  border: 1px solid black;
  background: white;
  color: black;
  right: 10px;
  top: 58px;
  z-index: 2; }

.divtop .imgdiv .userbar li {
  padding: 5px; }

.divtop .imgdiv .userbar img {
  opacity: 0.7; }

.divtop .imgdiv .userbar li:hover {
  background: rgba(38, 50, 56, 0.8);
  color: white; }

.divtop .imgdiv .userbar li:hover img {
  opacity: 1; }

.divtop .imgdiv .userbar span {
  margin-left: 5px;
  position: relative; }

.divtop .workbtn {
  float: right;
  margin-top: 7px;
  margin-right: 10px; }

.divtop .workbtn img {
  height: 20px;
  position: absolute;
  left: 6px;
  top: 7px; }

.divtop .workbtn .allbtn {
  padding: 10px 10px 10px 30px; }

.divtop .version_setting {
  display: none;
  position: absolute;
  background: gray;
  width: 350px;
  height: 340px;
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
  right: 150px; }

.divtop .version_setting .title p {
  color: white;
  border-bottom: 1px solid;
  padding: 5px;
  font-size: 16px;
  margin-top: 10px; }

.divtop .version_setting .dropdown-el {
  right: 0px;
  min-width: 24em;
  position: absolute;
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
  min-height: 2em;
  max-height: 2em;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  border: .06em solid transparent;
  border-radius: 1em;
  background-color: #cde4f5;
  transition: 0.3s all ease-in-out; }

.divtop .version_setting .dropdown-el input {
  display: none; }

.divtop .version_setting .dropdown-el label {
  border-top: .06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out; }

.divtop .version_setting .dropdown-el label:nth-child(2) {
  margin-top: 2em;
  border-top: .06em solid #d9d9d9; }

.divtop .version_setting .dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  width: calc(100% - 10px);
  top: 0; }

.divtop .version_setting .dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative; }

.divtop .version_setting .dropdown-el::after {
  content: "";
  position: absolute;
  right: 0.8em;
  top: 0.9em;
  border: 0.3em solid #3694d7;
  border-color: #3694d7 transparent transparent transparent;
  transition: .4s all ease-in-out; }

.divtop .version_setting .dropdown-el.expanded {
  border: 0.06em solid #3694d7;
  background: #fff;
  border-radius: .25em;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 15em; }

.divtop .version_setting .dropdown-el.expanded label {
  border-top: .06em solid #d9d9d9; }

.divtop .version_setting .dropdown-el.expanded label:hover {
  color: #3694d7; }

.divtop .version_setting .dropdown-el.expanded input:checked + label {
  color: #3694d7; }

.divtop .version_setting .dropdown-el.expanded::after {
  transform: rotate(-180deg);
  top: .55em; }

.divtop .version_setting .vertext {
  margin-top: 10px;
  height: 170px;
  overflow: auto; }

.divtop .version_setting .btndiv {
  float: right; }

.divtop .worksetting {
  display: none;
  position: absolute;
  background: gray;
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
  right: 80px; }

.divtop .worksetting p {
  color: white;
  border-bottom: 1px solid;
  padding: 5px;
  font-size: 16px;
  margin-top: 10px; }

.divtop .worksetting .themediv {
  margin-top: 10px; }

.divtop .worksetting .themediv .dark, .divtop .worksetting .themediv .white {
  display: inline-block;
  color: white;
  width: 147px; }

.divtop .worksetting .themediv .dark li, .divtop .worksetting .themediv .white li {
  padding: 5px; }

.divtop .worksetting .themediv .dark {
  background: #2e2e2e;
  border-radius: 5px; }

.divtop .worksetting .themediv input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.divtop .worksetting .themediv input[type="radio"]:focus + label:before,
.divtop .worksetting .themediv input[type="radio"]:hover + label:before {
  border-color: black; }

.divtop .worksetting .themediv input[type="radio"]:active + label:before {
  -webkit-transition-duration: 0;
  transition-duration: 0;
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2); }

.divtop .worksetting .themediv input[type="radio"] + label {
  position: relative;
  padding: 10px;
  padding-left: 2em;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.divtop .worksetting .themediv input[type="radio"] + label:before {
  box-sizing: content-box;
  content: '';
  color: #900;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 2px solid white;
  text-align: center; }

.divtop .worksetting .themediv input[type="radio"] + label:after {
  box-sizing: content-box;
  content: '';
  background-color: #900;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out; }

.divtop .worksetting .themediv input[type="radio"]:checked + label:before {
  -webkit-animation: borderscale 300ms ease-in;
  animation: borderscale 300ms ease-in;
  background-color: white; }

.divtop .worksetting .themediv input[type="radio"]:checked + label:after {
  -webkit-transform: scale(1);
  transform: scale(1); }

.divtop .worksetting .themediv input[type="radio"] + label:before,
.divtop .worksetting .themediv input[type="radio"] + label:after {
  border-radius: 50%; }

@-webkit-keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px #900; } }

@keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px #900; } }

.divtop .worksetting .themediv input:focus {
  border: 1px solid black; }

.divtop .worksetting .themediv input:not(:focus):invalid {
  border: 1px solid red;
  outline: none; }

.divtop .worksetting .themediv input:not(:focus):valid {
  border: 1px solid green; }

.divtop .worksetting .fontdiv span {
  color: white;
  margin-left: 20px; }

.divtop .worksetting .fontdiv .fonttype, .divtop .worksetting .fontdiv .fontsize {
  margin: 20px 0; }

.divtop .worksetting .fontdiv .fonttype .dropdown-el {
  z-index: 5; }

.divtop .worksetting .fontdiv .dropdown-el {
  right: 0px;
  min-width: 12em;
  position: absolute;
  display: inline-block;
  margin-right: 1em;
  margin-top: -5px;
  min-height: 2em;
  max-height: 2em;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  border: .06em solid transparent;
  border-radius: 1em;
  background-color: #cde4f5;
  transition: 0.3s all ease-in-out; }

.divtop .worksetting .fontdiv .dropdown-el input {
  display: none; }

.divtop .worksetting .fontdiv .dropdown-el label {
  border-top: .06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out; }

.divtop .worksetting .fontdiv .dropdown-el label:nth-child(2) {
  margin-top: 2em;
  border-top: .06em solid #d9d9d9; }

.divtop .worksetting .fontdiv .dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  width: calc(100% - 10px);
  top: 0; }

.divtop .worksetting .fontdiv .dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative; }

.divtop .worksetting .fontdiv .dropdown-el::after {
  content: "";
  position: absolute;
  right: 0.8em;
  top: 0.9em;
  border: 0.3em solid #3694d7;
  border-color: #3694d7 transparent transparent transparent;
  transition: .4s all ease-in-out; }

.divtop .worksetting .fontdiv .dropdown-el.expanded {
  border: 0.06em solid #3694d7;
  background: #fff;
  border-radius: .25em;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 15em; }

.divtop .worksetting .fontdiv .dropdown-el.expanded label {
  border-top: .06em solid #d9d9d9; }

.divtop .worksetting .fontdiv .dropdown-el.expanded label:hover {
  color: #3694d7; }

.divtop .worksetting .fontdiv .dropdown-el.expanded input:checked + label {
  color: #3694d7; }

.divtop .worksetting .fontdiv .dropdown-el.expanded::after {
  transform: rotate(-180deg);
  top: .55em; }

.divtop .worksetting .btndiv {
  float: right; }

.divtop .worksetting .btndiv .allbtn {
  padding: 10px; }

.divmain {
  color: black;
  margin-top: 64.75px;
  position: relative; }

.frame {
  padding: 30px 50px; }

.examfix {
  position: fixed;
  top: 0px; }

.pagefix {
  margin-top: 60px; }

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #304adf;
  border-radius: 4px;
  color: #304adf;
  cursor: pointer;
  align-self: center;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 4px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; }

.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 40px 40px #304adf inset; }

.search {
  outline: 0;
  display: inline-block;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.search .textbox {
  outline: 0;
  height: 42px;
  width: 244px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.search .textbox:focus {
  outline: 0;
  background-color: #FFF; }

.search .button {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.search .button:hover {
  background-color: #304adf; }

.frametitle {
  font-size: 20px;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  min-width: 600px; }

.frametitle .btndiv {
  float: right;
  margin-top: -20px; }

.frametitle .titlebtn {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  position: relative;
  padding: 10px 20px;
  margin: 0px 10px 0px 0px;
  border-radius: 3px;
  font-family: 'Hanna', sans-serif;
  font-size: 12px;
  color: #FFF;
  text-decoration: none;
  background-color: #3498db;
  border: 0px;
  border-right: 3px solid #2980B9;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9; }

.frametitle .titlebtn:active {
  transform: translate(3px, 5px);
  -webkit-transform: translate(3px, 5px);
  border-right: 1px solid;
  border-bottom: 1px solid; }

.framebody {
  min-width: 600px;
  padding-top: 40px; }

.framebody .top {
  height: 50px;
  background: rgba(38, 50, 56, 0.3);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }

.framebody .top span {
  margin: 17px 0px 0px 30px;
  display: inline-block;
  font-size: 18px; }

.framebody .middle_hidden {
  padding: 10px 20px;
  height: 180px;
  position: relative;
  z-index: 4;
  background: #8b8b8b;
  color: white;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }

.framebody .middle_hidden:hover, .framebody .middle_hidden:active, .framebody .middle_hidden:focus {
  opacity: 0.9;
  cursor: pointer; }

.framebody .pro_middle {
  height: 200px;
  overflow: hidden;
  margin-top: -200px; }

.framebody .pro_middle .middlediv {
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: normal;
  overflow: hidden;
  height: 180px; }

.framebody .pro_middle iframe {
  transform: scale(0.5);
  width: 200%;
  height: 200%;
  transform-origin: top left; }

.framebody .brd_middle {
  height: 180px;
  padding: 10px 20px;
  overflow: hidden; }

.framebody .bottom {
  height: 50px;
  background: rgba(38, 50, 56, 0.3);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center; }

.framebody .bottom .bottom_in {
  margin: 0px auto;
  display: table;
  display: inline-block;
  padding-top: 5px; }

.framebody .bottom .bottom_in .view {
  display: inline-block; }

.framebody .bottom .bottom_in .comment {
  display: inline-block; }

.framebody .bottom .bottom_in .like {
  display: block;
  margin: 0px auto; }

.framebody .bottom span {
  position: relative;
  margin-left: 5px;
  top: -3px; }

.framebody .none {
  margin: 0 auto;
  width: 110px;
  font-size: 16px; }

.first_content {
  height: 300px;
  border: 1px solid rgba(38, 50, 56, 0.3);
  border-radius: 10px; }

.other {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 4.9%;
  margin-top: 40px; }

.content {
  width: 100%;
  height: 300px;
  border: 1px solid rgba(38, 50, 56, 0.3);
  border-radius: 10px; }

.paging {
  height: 61px;
  padding-top: 20px; }

.paging span {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-justify-content: center; }

.paging ul {
  list-style: none;
  float: left;
  display: inline; }

.paging ul li {
  float: left; }

.paging ul li a {
  float: left;
  padding: 4px;
  margin-right: 3px;
  width: 15px;
  color: #000;
  font: bold 12px tahoma;
  border: 1px solid #eee;
  text-align: center;
  text-decoration: none; }

.paging ul li a:hover, .paging ul li a:focus {
  color: #fff;
  border: 1px solid #0099ff;
  background-color: #0099ff; }

.project_top {
  position: relative;
  display: none;
  left: 50px;
  top: -7px; }

.project_top .project_title {
  display: inline;
  font-size: 24px; }

.project_top .project_version {
  display: inline-block; }

.project_top .project_writer {
  position: relative;
  left: 10px;
  top: 5px; }

.allbtn {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  position: relative;
  padding: 10px 20px;
  margin: 0px 10px 0px 0px;
  border-radius: 3px;
  font-family: 'Hanna', sans-serif;
  font-size: 12px;
  color: #FFF;
  text-decoration: none;
  background-color: #3498db;
  border: 0px;
  border-right: 3px solid #2980B9;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9; }

.allbtn:active {
  transform: translate(3px, 5px);
  -webkit-transform: translate(3px, 5px);
  border-right: 1px solid #2980B9;
  border-bottom: 1px solid #2980B9; }

.ck a {
  color: #0782C1; }

.ck ol, .ck ul, .ck dl {
  /* IE7: reset rtl list margin. (#7334) */
  *margin-right: 0px;
  /* Preserved spaces for list items with text direction different than the list. (#6249,#8049)*/
  padding: 0 40px; }

.ck h1, .ck h2, .ck h3, .ck h4, .ck h5, .ck h6 {
  font-weight: normal;
  line-height: 1.2; }

.ck hr {
  border: 0px;
  border-top: 1px solid #ccc; }

.ck img.right {
  border: 1px solid #ccc;
  float: right;
  margin-left: 15px;
  padding: 5px; }

.ck img.left {
  border: 1px solid #ccc;
  float: left;
  margin-right: 15px;
  padding: 5px; }

.ck pre {
  white-space: pre-wrap;
  /* CSS 2.1 */
  word-wrap: break-word;
  /* IE7 */
  -moz-tab-size: 4;
  tab-size: 4; }

.marker {
  background-color: Yellow; }

.ck span[lang] {
  font-style: italic; }

.ck figure {
  text-align: center;
  outline: solid 1px #ccc;
  background: rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 10px 20px;
  display: inline-block; }

.ck figure > figcaption {
  text-align: center;
  display: block;
  /* For IE8 */ }

.ck a > img {
  padding: 1px;
  margin: 1px;
  border: none;
  outline: 1px solid #0782C1; }

/* Widget Styles */
.code-featured {
  border: 5px solid red; }

.math-featured {
  padding: 20px;
  box-shadow: 0 0 2px #c80000;
  background-color: rgba(255, 0, 0, 0.05);
  margin: 10px; }

.image-clean {
  border: 0;
  background: none;
  padding: 0; }

.image-clean > figcaption {
  font-size: .9em;
  text-align: right; }

.image-grayscale {
  background-color: white;
  color: #666; }

.image-grayscale img, img.image-grayscale {
  filter: grayscale(100%); }

.embed-240p {
  max-width: 426px;
  max-height: 240px;
  margin: 0 auto; }

.embed-360p {
  max-width: 640px;
  max-height: 360px;
  margin: 0 auto; }

.embed-480p {
  max-width: 854px;
  max-height: 480px;
  margin: 0 auto; }

.embed-720p {
  max-width: 1280px;
  max-height: 720px;
  margin: 0 auto; }

.embed-1080p {
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto; }
