$color:#3694d7;
$timing:.3s;
html{
    margin:0px;
    padding:0px;
    border:none;
    background-color: #fff;
    color: black;
}
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0 }
body, input, textarea, select, button, table { font-size:14px; line-height:1.25em; font-family:'나눔고딕', NanumGothic, Helvetica, AppleGothic, Sans-serif, ngwoff, ngeot, '굴림', gulrem; }
body { height: 100%; padding:0; margin:0;font-family: 'Hanna', sans-serif; }
img, fieldset { border:0 }
ul, ol { list-style:none }
em, address { font-style:normal }
a { text-decoration:none }
a:hover, a:active, a:focus { text-decoration:none }


$top-backcolor:white;
$btn-color: #304adf;
.divtop{
        position: fixed;
        top:0px;
        color:black;
        z-index: 5;
        width:100%;
        min-width: 600px;
        padding:5px 0px;
        background-color:$top-backcolor;
        border-bottom: 1px solid black;
        .logo{
                height:50px;
                position: relative;
                top: 5px;
                margin-left: 10px;
        }
        .menu{
                height: 40px;
                position: relative;
                left: 20px;
                top: -3px;
                opacity: 0.7;
                &:hover{
                        opacity: 1;
                }
                &.active{
                        opacity: 1;
                }
        }
        .menubar{
                display:none;
                position: absolute;
                border: 1px solid black;
                background: white;
                color:black;
                left: 97px;
                top: 50px;
                z-index: 2;
                li{
                        padding: 5px 15px;
                }
                img{
                        opacity: 0.7;
                }
                li:hover{
                        background: rgba(38, 50, 56, 0.8);
                        color:white;
                        img{
                                opacity: 1;
                        }
                }
                span{
                        margin-left: 10px;
                        position: relative;
                        top: -10px;
                }
        }
        .btn{
                padding: 7px 10px;
                float: right;
                margin-right: 20px;
                margin-top: 10px;
        }
        .search{
                position: relative;
                left: 45px;
        }
        .imgdiv{
                background: rgba(38, 50, 56, 0.2);
                border-radius: 5px;
                height: 50px;
                width:50px;
                float: right;
                margin-right: 10px;
                margin-top: 2px;
                .logpic{
                        width:44px;
                        height: 44px;
                        margin:3px;
                        border-radius: 22px;
                        background: gray;
                }
                .userbar{
                        display:none;
                        position: absolute;
                        border: 1px solid black;
                        background: white;
                        color:black;
                        right:10px;
                        top: 58px;
                        z-index: 2;
                        li{
                                padding: 5px;
                        }
                        img{
                                opacity: 0.7;
                        }
                        li:hover{
                                background: rgba(38, 50, 56, 0.8);
                                color:white;
                                img{
                                        opacity: 1;
                                }
                        }
                        span{
                                margin-left: 5px;
                                position: relative;
                        }
                }
        }
        .workbtn{
                float:right;
                margin-top:7px;
                margin-right:10px;
                img{
                        height: 20px;
                        position: absolute;
                        left:6px;
                        top:7px;
                }
                .allbtn{
                        padding:10px 10px 10px 30px;
                }
        }
        .version_setting{
                display:none;
                position: absolute;
                background:gray;
                width:350px;
                height:340px;
                border-radius: 5px;
                padding:0px 10px 10px 10px;
                right:150px;
                .title p{
                        color:white;
                        border-bottom: 1px solid;
                        padding:5px;
                        font-size:16px;
                        margin-top:10px;
                }
                .dropdown-el {
                        right:0px;
                        min-width: 24em;
                        position: absolute;
                        display: inline-block;
                        margin-right: 15px;
                        margin-top: 10px;
                        min-height: 2em;
                        max-height:2em;
                        overflow:hidden;
                        cursor: pointer;
                        text-align: left;
                        white-space: nowrap;
                        color: #444;
                        outline: none;
                        border: .06em solid transparent;
                        border-radius: 1em;
                        background-color: mix($color,#fff,25%);
                        transition: $timing all ease-in-out;  
                        input {
                                display:none;
                        }
                        label {
                                border-top: .06em solid #d9d9d9;
                                display:block;
                                height: 2em;
                                line-height: 2em;
                                padding-left: 1em;
                                padding-right: 3em;
                                cursor: pointer;
                                position: relative;
                                transition: $timing color ease-in-out;  
                                &:nth-child(2) {
                                margin-top: 2em;
                                border-top: .06em solid #d9d9d9;
                                }
                        }
                        input:checked + label {
                                display:block;
                                border-top: none;
                                position: absolute;
                                width:calc(100% - 10px);
                                top: 0;
                                &:nth-child(2) {
                                        margin-top: 0;
                                        position: relative;
                                }
                        }
                        &::after {
                                content:"";
                                position: absolute;
                                right: 0.8em;
                                top: 0.9em;
                                border: .3em solid $color;
                                border-color: $color transparent transparent transparent;
                                transition: .4s all ease-in-out;
                        }
                        &.expanded {
                                border: .06em solid $color;
                                background: #fff;
                                border-radius: .25em;
                                padding: 0;
                                box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
                                max-height:15em;
                                label {
                                        border-top: .06em solid #d9d9d9;
                                        &:hover {
                                                color:$color;
                                        }
                                }
                                input:checked + label {
                                        color:$color;
                                }
                                &::after {
                                        transform: rotate(-180deg);
                                        top:.55em;
                                }
                        }
                }
                .vertext{
                        margin-top:10px;
                        height: 170px;
                        overflow: auto;
                }
                .btndiv{
                        float:right;
                }
        }
        .worksetting{
                display:none;
                position: absolute;
                background:gray;
                // width:250px;
                border-radius: 5px;
                padding:0px 10px 10px 10px;
                right:80px;
                p{
                        color:white;
                        border-bottom: 1px solid;
                        padding:5px;
                        font-size:16px;
                        margin-top:10px;
                }
                .themediv{
                        margin-top:10px;
                        .dark,.white{
                                display: inline-block;
                                color:white;
                                // padding:10px;
                                // margin: 30px 10px 10px 10px;
                                width:147px;
                                li{
                                        padding:5px;
                                }
                        }
                        .dark{
                                background:rgb(46, 46, 46);
                                border-radius: 5px;
                                // color:white;
                                // input[type="radio"]:focus + label:before,
                                // input[type="radio"]:hover + label:before {
                                //         border-color: white;
                                // }
                        }
                        input[type="radio"] {
                                border: 0;
                                clip: rect(0 0 0 0);
                                height: 1px;
                                margin: -1px;
                                overflow: hidden;
                                padding: 0;
                                position: absolute;
                                width: 1px;
                        }
                        
                        input[type="radio"]:focus + label:before,
                        input[type="radio"]:hover + label:before {
                                border-color: black;
                        }
                        
                        input[type="radio"]:active + label:before {
                                -webkit-transition-duration: 0;
                                transition-duration: 0;
                                -webkit-filter: brightness(0.2);
                                filter: brightness(0.2);
                        }
                        
                        input[type="radio"] + label {
                                position: relative;
                                padding: 10px;
                                padding-left: 2em;
                                vertical-align: middle;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                        }
                        input[type="radio"] + label:before {
                                box-sizing: content-box;
                                content: '';
                                color: #900;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                width: 14px;
                                height: 14px;
                                margin-top: -9px;
                                border: 2px solid white;
                                text-align: center;
                        }
                        input[type="radio"] + label:after {
                                box-sizing: content-box;
                                content: '';
                                background-color: #900;
                                position: absolute;
                                top: 50%;
                                left: 4px;
                                width: 10px;
                                height: 10px;
                                margin-top: -5px;
                                -webkit-transform: scale(0);
                                transform: scale(0);
                                -webkit-transform-origin: 50%;
                                transform-origin: 50%;
                                -webkit-transition: -webkit-transform 200ms ease-out;
                                transition: -webkit-transform 200ms ease-out;
                                transition: transform 200ms ease-out;
                                transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
                        }
                        input[type="radio"]:checked + label:before {
                                -webkit-animation: borderscale 300ms ease-in;
                                animation: borderscale 300ms ease-in;
                                background-color: white;
                        }
                        input[type="radio"]:checked + label:after {
                                -webkit-transform: scale(1);
                                transform: scale(1);
                        }
                        input[type="radio"] + label:before,
                        input[type="radio"] + label:after {
                                border-radius: 50%;
                        }
                        @-webkit-keyframes borderscale {
                                50% {
                                        box-shadow: 0 0 0 2px #900;
                                }
                        }
                        @keyframes borderscale {
                                50% {
                                        box-shadow: 0 0 0 2px #900;
                                }
                        }
                        input:focus {
                                border: 1px solid black;
                        }
                        
                        input:not(:focus):invalid {
                                border: 1px solid red;
                                outline: none;
                        }
                        input:not(:focus):valid {
                                border: 1px solid green;
                        }
                }
                .fontdiv{
                        span{
                                color:white;
                                margin-left:20px;
                        }
                        .fonttype,.fontsize{
                                margin:20px 0;
                        }
                        .fonttype{
                                .dropdown-el{
                                        z-index: 5;
                                }
                        }
                        .dropdown-el {
                                right:0px;
                                min-width: 12em;
                                position: absolute;
                                display: inline-block;
                                margin-right: 1em;
                                margin-top: -5px;
                                min-height: 2em;
                                max-height:2em;
                                overflow:hidden;
                                cursor: pointer;
                                text-align: left;
                                white-space: nowrap;
                                color: #444;
                                outline: none;
                                border: .06em solid transparent;
                                border-radius: 1em;
                                background-color: mix($color,#fff,25%);
                                transition: $timing all ease-in-out;  
                                input {
                                        display:none;
                                }
                                label {
                                        border-top: .06em solid #d9d9d9;
                                        display:block;
                                        height: 2em;
                                        line-height: 2em;
                                        padding-left: 1em;
                                        padding-right: 3em;
                                        cursor: pointer;
                                        position: relative;
                                        transition: $timing color ease-in-out;  
                                        &:nth-child(2) {
                                        margin-top: 2em;
                                        border-top: .06em solid #d9d9d9;
                                        }
                                }
                                input:checked + label {
                                        display:block;
                                        border-top: none;
                                        position: absolute;
                                        width:calc(100% - 10px);
                                        top: 0;
                                        &:nth-child(2) {
                                                margin-top: 0;
                                                position: relative;
                                        }
                                }
                                &::after {
                                        content:"";
                                        position: absolute;
                                        right: 0.8em;
                                        top: 0.9em;
                                        border: .3em solid $color;
                                        border-color: $color transparent transparent transparent;
                                        transition: .4s all ease-in-out;
                                }
                                &.expanded {
                                        border: .06em solid $color;
                                        background: #fff;
                                        border-radius: .25em;
                                        padding: 0;
                                        box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
                                        max-height:15em;
                                        label {
                                                border-top: .06em solid #d9d9d9;
                                                &:hover {
                                                        color:$color;
                                                }
                                        }
                                        input:checked + label {
                                                color:$color;
                                        }
                                        &::after {
                                                transform: rotate(-180deg);
                                                top:.55em;
                                        }
                                }
                        }
                }
                .btndiv{
                        float:right;
                        .allbtn{
                                padding:10px;
                        }
                }
        }
}
.divmain{
        color:black;
        margin-top:64.75px;
        position: relative;
    // padding: 30px 50px;
    // height:2000px;
}
.frame{
        padding:30px 50px;
}
.examfix{
         position: fixed;
         top: 0px; 
}
.pagefix{
        margin-top: 60px;
}

.btn {
        box-sizing: border-box;
        appearance: none;
        background-color: transparent;
        border: 2px solid $btn-color;
        border-radius: 4px;
        color: $btn-color;
        cursor: pointer;
        align-self: center;
        line-height: 1;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        padding: 4px;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        &:hover,
        &:focus {
                color: #fff;
                outline: 0;
                box-shadow: 0 0 40px 40px $btn-color inset;
        }
}
.search {
        outline: 0;
        display: inline-block;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-border-radius: 4px;
        border-radius: 4px;
        .textbox {
                outline: 0;
                height: 42px;
                width: 244px;
                line-height: 42px;
                padding: 0 16px;
                background-color: rgba(255, 255, 255, 0.8);
                color: #212121;
                border: 0;
                float: left;
                -webkit-border-radius: 4px 0 0 4px;
                border-radius: 4px 0 0 4px;
                &:focus {
                        outline: 0;
                        background-color: #FFF;
                }
        }
        .button {
                outline: 0;
                background: none;
                background-color: rgba(38, 50, 56, 0.8);
                float: left;
                height: 42px;
                width: 42px;
                text-align: center;
                line-height: 42px;
                border: 0;
                color: #FFF;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 16px;
                text-rendering: auto;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                -webkit-transition: background-color .4s ease;
                transition: background-color .4s ease;
                -webkit-border-radius: 0 4px 4px 0;
                border-radius: 0 4px 4px 0;
                &:hover {
                        background-color: $btn-color;
                }
        }
}
  
.frametitle{
        font-size: 20px;
        border-bottom: 2px solid;
        padding-bottom: 10px;
        min-width: 600px;
        .btndiv{
                float:right;
                margin-top:-20px;
        }
        .titlebtn{
                transition: all 0.1s;
                -webkit-transition: all 0.1s;
                position: relative;
                padding: 10px 20px;
                margin: 0px 10px 0px 0px;
                border-radius: 3px;
                font-family: 'Hanna', sans-serif;
                font-size: 12px;
                color: #FFF;
                text-decoration: none; 
                background-color: #3498db;
                border:0px;
                border-right: 3px solid #2980B9;
                border-bottom: 5px solid #2980B9;
                text-shadow: 0px -2px #2980B9;
                &:active{
                        transform: translate(3px,5px);
                        -webkit-transform: translate(3px,5px);
                        border-right: 1px solid;
                        border-bottom: 1px solid;
                }
        }
}
.framebody{
        min-width: 600px;
        padding-top: 40px;
        .top{
                height:50px;
                background: rgba(38, 50, 56, 0.3);
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                span{
                margin:17px 0px 0px 30px;
                display:inline-block;
                font-size:18px;
        }
    }
    .middle_hidden{
                padding:10px 20px;
                height: 180px;
                //     width:100%;
                position: relative;
                z-index:4;
                background:rgb(139, 139, 139);
                color:white;
                opacity: 0;
                overflow: hidden;
                -webkit-transition: opacity 0.5s ease-in-out;
                -moz-transition: opacity 0.5s ease-in-out;
                -ms-transition: opacity 0.5s ease-in-out;
                -o-transition: opacity 0.5s ease-in-out;
                transition: opacity 0.5s ease-in-out;
                &:hover,&:active,&:focus{
                        opacity: 0.9;
                        cursor: pointer;
                }
                // animation: opac2 1s;
                // &:hover,&:active,&:focus{
                //         animation: opac1 1s;
                // }
                // @keyframes opac1 {
                //         0% {
                //                 opacity: 0;
                //         }
                //         100% {
                //                 opacity: 0.9;
                //         }
                // }
                // @keyframes opac2 {
                //         0% {
                //                 opacity: 0.9;
                //         }
                //         100% {
                //                 opacity: 0;
                //         }
                // }
        }
    .pro_middle{
        // padding:10px 20px;
        height:200px;
        overflow:hidden;
        margin-top:-200px;
        .middlediv{
                text-overflow: ellipsis;
                white-space: normal;
                word-wrap: normal;
                overflow: hidden;
                height:180px;
        }
        iframe{
                transform: scale(0.5);
                width: 200%;
                height: 200%;
                transform-origin: top left;
        }
    }
    .brd_middle{
            height: 180px;
            padding:10px 20px;
            overflow:hidden;
    }

    .bottom{
        height:50px;
        background: rgba(38, 50, 56, 0.3);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        text-align: center;
        .bottom_in{
            margin:0px auto;
            display: table;
            display:inline-block;
            padding-top:5px;
            .view{
                display:inline-block;
            }
            .comment{
                display:inline-block;
            }
            .like{
                display:block;
                margin:0px auto;
            }
        }
        span{
            position: relative;
            margin-left:5px;
            top:-3px;
        }
    }
    .none{
        margin: 0 auto;
        width: 110px;
        font-size: 16px;
    }
}
.first_content{
    height: 300px;
    border:1px solid rgba(38, 50, 56, 0.3);
    border-radius: 10px;
}
.other{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 4.9%;
    margin-top: 40px;
}
.content{
    width:100%;
    height: 300px;
    border:1px solid rgba(38, 50, 56, 0.3);
    border-radius: 10px;
}
.paging{
    height:61px;
    padding-top: 20px;
    span{
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        display: -webkit-flex;
        -webkit-justify-content: center;
    }
    ul {  
        list-style:none;  
        float:left;  
        display:inline;  
    }  
    ul li {  
        float:left;  
    }  
    ul li a {  
        float:left;  
        padding:4px;  
        margin-right:3px;  
        width:15px;  
        color:#000;  
        font:bold 12px tahoma;  
        border:1px solid #eee;  
        text-align:center;  
        text-decoration:none;  
    }  
    ul li a:hover,ul li a:focus {  
        color:#fff;  
        border:1px solid rgb(0, 153, 255);  
        background-color:rgb(0, 153, 255);  
    }
}

.project_top{
        position: relative;
        // display: inline-block;
        display:none;
        left:50px;
        top:-7px;
        .project_title{
                display: inline;
                font-size:24px;
        }
        .project_version{
                display:inline-block;
        }
        .project_writer{
                position: relative;
                left:10px;
                top:5px;
        }
}

.allbtn{
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
        position: relative;
        padding: 10px 20px;
        margin: 0px 10px 0px 0px;
        border-radius: 3px;
        font-family: 'Hanna', sans-serif;
        font-size: 12px;
        color: #FFF;
        text-decoration: none; 
        background-color: #3498db;
        border:0px;
        border-right: 3px solid #2980B9;
        border-bottom: 5px solid #2980B9;
        text-shadow: 0px -2px #2980B9;
        &:active{
            transform: translate(3px,5px);
            -webkit-transform: translate(3px,5px);
            border-right: 1px solid #2980B9;
            border-bottom: 1px solid #2980B9;
        }
    }

.ck a
{
	color: #0782C1;
}

.ck ol,.ck ul,.ck dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* Preserved spaces for list items with text direction different than the list. (#6249,#8049)*/
	padding: 0 40px;
}

.ck h1,.ck h2,.ck h3,.ck h4,.ck h5,.ck h6
{
	font-weight: normal;
	line-height: 1.2;
}

.ck hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

.ck img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

.ck img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

.ck pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

.ck span[lang]
{
	font-style: italic;
}

.ck figure
{
	text-align: center;
	outline: solid 1px #ccc;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

.ck figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}

.ck a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}

/* Widget Styles */
.code-featured
{
	border: 5px solid red;
}

.math-featured
{
	padding: 20px;
	box-shadow: 0 0 2px rgba(200, 0, 0, 1);
	background-color: rgba(255, 0, 0, 0.05);
	margin: 10px;
}

.image-clean
{
	border: 0;
	background: none;
	padding: 0;
}

.image-clean > figcaption
{
	font-size: .9em;
	text-align: right;
}

.image-grayscale
{
	background-color: white;
	color: #666;
}

.image-grayscale img, img.image-grayscale
{
	filter: grayscale(100%);
}

.embed-240p
{
	max-width: 426px;
	max-height: 240px;
	margin:0 auto;
}

.embed-360p
{
	max-width: 640px;
	max-height: 360px;
	margin:0 auto;
}

.embed-480p
{
	max-width: 854px;
	max-height: 480px;
	margin:0 auto;
}

.embed-720p
{
	max-width: 1280px;
	max-height: 720px;
	margin:0 auto;
}

.embed-1080p
{
	max-width: 1920px;
	max-height: 1080px;
	margin:0 auto;
}

