.workframe #container {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  position: relative; }

.workframe #A, .workframe #B, .workframe #Z {
  position: absolute;
  top: 0;
  height: 100%; }

.workframe #A {
  left: 0;
  width: 39%;
  background-color: #ccffcc;
  overflow: auto; }

.workframe #A .div1, .workframe #A .div2, .workframe #A .div3 {
  position: relative;
  top: 0;
  width: 100%;
  height: calc(calc( 100% - 60px ) / 3);
  overflow: auto; }

.workframe #A #middle, .workframe #A #middle1 {
  cursor: pointer;
  height: 30px;
  background: #333641; }

.workframe #B {
  right: 0;
  width: 59%;
  background-color: #ccccff;
  overflow: auto; }

.workframe #Z {
  left: 39%;
  width: 2%;
  background-color: #cc0000;
  cursor: move; }
