include ../main.jade
        link(rel='stylesheet',href='../css/work.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
        .workframe
                #container
                        #A
                                #top.div1 TOP DIV
                                #middle
                                #bottom.div2 BOTTOM DIV
                                #middle1
                                #bottom1.div3 BOTTOM2 DIV
                        #B
                        #Z
        script.
                var height=$('#top').height()
                var height1=$('#bottom').height()
                var startpos, diffpos=0, eControl = false;
                var startpos1, diffpos1=0, eControl1 = false;
                $(function(){
                        var A = parseInt($('#A').width(), 10),
                        B = parseInt($('#B').width(), 10),
                        Z = parseInt($('#Z').width(), 10),
                        minw =0,
                        offset = $('#container').offset(),
                        splitter = function(event, ui){
                                var aw = parseInt(ui.position.left),
                                bw = A + B - aw;
                                $('#A').css({width : aw})
                                $('#B').css({width : bw})
                        };
                        $('#Z').draggable({
                                axis : 'x',
                                containment : [
                                offset.left + minw,
                                offset.top,
                                offset.left + A + B - minw,
                                offset.top + $('#container').height()
                                ],
                                drag : splitter
                        });
                });
                $('#middle').mousedown((e)=>{
                        startpos = e.screenY + diffpos;
                        eControl = true;
                        return false;
                })
                $('#middle1').mousedown((e)=>{
                        startpos1 = e.screenY + diffpos1;
                        eControl1 = true;
                        return false;
                })
                $(document.body).mouseup((e)=>{
                        eControl = false;
                        eControl1 = false;
                        height=$('#top').height()
                        height1=$('#bottom').height()
                })
                $(document.body).mousemove((e)=>{
                        if (eControl) {
                                pos = e.screenY;
                                diffpos = startpos-pos;
                                //- console.log(diffpos)
                                //- console.log(height)
                                //- console.log(height - diffpos)
                                if (diffpos >= -height && diffpos <= height) {
                                        $('#top').css({height:height - diffpos})
                                        $('#bottom').css({height:height + diffpos})
                                }
                                else if(diffpos>=height){
                                        $('#top').css({height:0})
                                        $('#bottom').css({height:height*2})
                                }else if(diffpos<=-height){
                                        $('#top').css({height:height*2})
                                        $('#bottom').css({height:0})
                                }
                        }else if (eControl1) {
                                pos = e.screenY;
                                diffpos1 = startpos1-pos;
                                console.log(diffpos1)
                                console.log(height1)
                                console.log(height1 - diffpos1)
                                if (diffpos1 >= -height1 && diffpos1 <= height1) {
                                        $('#bottom').css({height:height1 - diffpos1})
                                        $('#bottom1').css({height:height1 + diffpos1})
                                }
                                else if(diffpos1>=height1){
                                        console.log(3)
                                        $('#bottom').css({height:0})
                                        $('#bottom1').css({height:height1*2})
                                }else if(diffpos1<=-height1){
                                        console.log(4)
                                        $('#bottom').css({height:height1*2})
                                        $('#bottom1').css({height:0})
                                }
                        }
                })
